[submodule "Nand2Tetris"]
	path = Nand2Tetris
	url = https://github.com/JosephJostar0/Nand2Tetris.git
[submodule "PAT"]
	path = PAT
	url = https://github.com/JosephJostar0/pat.git
[submodule "CS50AI"]
	path = CS50AI
	url = https://github.com/JosephJostar0/CS50AI
[submodule "ToolBox"]
	path = ToolBox
	url = https://github.com/JosephJostar0/ToolBox
