*.zip
nand2tetris/tools/
nand2tetris/projects/demo/
temp/
*.cmp
*.out
*.tst

nand2tetris/projects/05/
nand2tetris/projects/06/
nand2tetris/projects/07/
nand2tetris/projects/08/
nand2tetris/projects/09/
nand2tetris/projects/10/
nand2tetris/projects/11/
nand2tetris/projects/12/
nand2tetris/projects/13/
